.chartTooltip {
  background-color: var(--background-color);
  font-size: 12px;
  color: var(--muted-foreground-color);
  padding: 12px 14px;
  border-radius: var(--secondary-radius);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 228px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--border-color-2);
}

.content {
  overflow-y: auto;
  padding-top: 12px;

  p {
    margin: 0;
  }
}

.contentItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

.contentItemBadge {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}

.contentItemName {
  color: var(--foreground-color);
  font-weight: normal;
}

.contentItemValue {
  font-weight: 600;
}
