@mixin input {
  padding: 6px 8px;
  background: transparent;
  border-radius: var(--primary-radius);
  border: 1px solid var(--border-color);
  cursor: pointer;
}

@mixin popover {
  border-radius: var(--primary-radius);
  background: var(--background-color);
  border: 1px solid var(--border-color);
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.10);
  position: absolute;
  z-index: 10;

  & div {
    display: flex;
    padding: 8px 16px;
    cursor: pointer;

    white-space: nowrap;

    &:hover {
      background: var(--muted-color);
      transition-duration: 400ms;
    }
  }
}