@mixin input {
  padding: 6px 8px;
  background: transparent;
  border-radius: var(--primary-radius);
  border: 1px solid var(--border-color);
  cursor: pointer;
}

@mixin popover {
  border-radius: var(--primary-radius);
  background: var(--background-color);
  border: 1px solid var(--border-color);
  box-shadow: 1px 2px 16px rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 10;

  animation: fade-in 200ms ease-in-out;

  @keyframes fade-in {
    from {
      opacity: 0;
      margin-top: 8px;
    }
    to {
      opacity: 1;
      margin-top: 0;
    }
  }

  & div {
    display: flex;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
      background: var(--muted-color);
      transition-duration: 400ms;
    }
  }
}