* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #ffffff;
  --foreground-color: #1b1b23;
  --border-color: #c7c5d0;

  --chart-1: #4142ef;
  --chart-2: #ff8346;
  --chart-3: #46464f;

  .dark {
    --background-color: #000027;
    --foreground-color: #ffffff;
    --border-color: #c7c5d0;
  }
}
