:root {
  --background-color: #ffffff;
  --foreground-color: #1b1b23;
  --border-color: #c7c5d0;
  --muted-color: #eeeeee;
  --muted-foreground-color: #918F9A;

  --chart-1: #4142ef;
  --chart-2: #ff8346;
  --chart-3: #46464f;

  --primary-radius: 4px;

  .dark {
    --background-color: #000027;
    --foreground-color: #ffffff;
    --border-color: #c7c5d0;
  }
}


* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.space-x > * + * {
  margin-left: 8px;
}

.space-y > * + * {
  margin-top: 8px;
}

.conversions__options {
  display: flex;
  margin-bottom: 40px;

  > * + * {
    margin-left: 8px;
  }
}